.main {
    margin: 0;
    padding: 0;
    background-color: grey;
    min-height: 60px;
}

.header {
     ul {
         display: flex;
         margin: 0px 5px;
         padding: 5px;
         padding-top: 20px;
         li {
             margin-right: 10px;
             list-style-type: none;
             a {
                 color: white;
                 text-decoration: none;
             }
         }
     }
}

