<div class="product-page container mt-20px">
    <h2 appHighlight>Product List</h2>
    <div class="row">
        <div class="col-4 mt-3" *ngFor="let product of products">
                <div class="card">
                    <h3 appHighlight>Name: {{product.name}}</h3>
                    <div >
                       <a routerLink="/products/{{product.id}}"> 
                            <img width="100%" src="{{product.image}}" alt="">
                        </a>
                    </div>
                    <div>
                        <strong>Price: {{product.price| currency}}</strong>
                        <h4>Cretad at: {{product.createdAt|date:'dd-MM-yyyy'}}</h4>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success">add to cart</button>
                        <button class="btn btn-info float-right" (click)="getProductDetail(product)">View More</button>
                    </div>
                </div>
        </div>
    </div>
</div>
